
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div>before app</div>
    <div id="app"></div>
    <div>after app</div>
  </body>
</html>
